<div class="main-container">
  <div class="close-button">
    <label (click)="onRedirectTo('Login')">
      &#10005;
    </label>
  </div>
  <div class="container-card">
    <div class="container-form">
      <label class="input-title">Nombre completo:</label>
      <input class="custom-input" type="text">
      <label class="input-title">Email:</label>
      <input class="custom-input" type="email">
      <label class="input-title">Contraseña:</label>
      <input class="custom-input" type="password">
      <label class="input-title">Repetir contraseña:</label>
      <input class="custom-input" type="password">
    </div>
    <div class="container-form">
      <div class="custom-button" (click)="onRedirectTo('Login')">
        Registrarse
      </div>
    </div>
  </div>
</div>
