.main-container {
  background-color: var(--secondary-color);
  border-radius: 14px;
  .close-button {
    font-size: 30px;
    text-align: end;
    padding: 10px 20px 0 0;
    label {
      font-size: 24px;
      cursor: pointer;
    }
  }
}
.container-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 45px 70px 70px;
}
