<div class="main-container">
  <div class="container-form">
    <label class="input-title">Email:</label>
    <input class="custom-input" type="email" [(ngModel)]="user.email">
    <label class="input-title">Contraseña</label>
    <input class="custom-input" type="password" [(ngModel)]="user.password">
  </div>
  <div class="container-form">

    <div class="custom-button" (click)="onLogin()">
      Iniciar sesion
    </div>
    <div class="custom-button" (click)="onRedirectTo('Create Account')">
      Registrame
    </div>
  </div>
</div>
